page-profile {
    .toolbar {
        .toolbar-background {
          background: transparent;
          border: 0px;
        }
      }
  
    .header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before {
      background-image: url();
    }
  
    .getstart {
      background-repeat: no-repeat;
      background-size:cover;
      background-position:center center;
    }
  
    ion-col {
      padding: 0px;
    }

    .logo {
      padding: 100px 0;
      min-height: 200px;
      text-align: center;
      
  
      img {
        max-width: 150px;
        border-radius: 50%;
      }
    }
}
