page-comentario {
    .item{
      color: white;
      background: transparent;
    }
  
    .item p{
      color: white;
    }
    .list-ios ion-item-sliding {
        background-color: transparent;
    }

    .list-md ion-item-sliding {
        background-color: transparent;
    }
}
