page-comentario {
    .item{
      color: color($colors, teste, contrast);;
      background: transparent;
    }
  
    .item p{
      color: color($colors, teste, contrast);;
    }
    .list-ios ion-item-sliding {
        background-color: transparent;
    }

    .list-md ion-item-sliding {
        background-color: transparent;
    }

    .texto{
        color: color($colors, teste, contrast);
    }
}
