page-editar-perfil {
    .logo2{
        position: relative;
        top: 0%;
        width: 100%;
        padding: 100px 0;
        text-align: center;
  
        img {
          max-width: 150px;
          border-radius: 25%;
        }
      }
}
