page-compartilhar {
    .imgPer{
        width: 100%;
        contain: content;
    }

    .item{
        color: white;
        background: transparent;
    }

    .item p{
        color: white;
    }
}
