<ion-header>
  <ion-navbar>
    <ion-title>Signup</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="formGroup" (ngSubmit)="signupUser(); $event.preventDefault()">
    <ion-item>
      <ion-label stacked>Nome*</ion-label>
      <ion-input formControlName="nome" type="text"></ion-input>
    </ion-item>
    <p class="danger" *ngIf="formGroup.controls.nome.dirty && formGroup.controls.nome.errors" margin-left>Valor inválido</p>
    <ion-item>
      <ion-label stacked>Email*</ion-label>
      <ion-input formControlName="email" type="text"></ion-input>
    </ion-item>
    <p class="danger" *ngIf="formGroup.controls.email.dirty && formGroup.controls.email.errors" margin-left>Valor inválido</p>
 
    <ion-list radio-group formControlName="sexo">
      <ion-list-header>
        Sexo
      </ion-list-header>
      <ion-item>
        <ion-label>Masculino</ion-label>
        <ion-radio checked="true" value="1"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Feminino</ion-label>
        <ion-radio value="2"></ion-radio>
      </ion-item>
    </ion-list>

    <ion-item>
      <ion-label stacked>Data de Nascimento</ion-label>
      <ion-input formControlName="nascimento" type="text"></ion-input>
    </ion-item>
    <p class="danger" *ngIf="formGroup.controls.nascimento.dirty && formGroup.controls.nascimento.errors" margin-left>Valor inválido</p>
    <ion-item>
      <ion-label stacked>Senha*</ion-label>
      <ion-input formControlName="senha" type="password"></ion-input>
    </ion-item> 
    <p class="danger" *ngIf="formGroup.controls.senha.dirty && formGroup.controls.senha.errors" margin-left>Valor inválido</p>
    <ion-item>
      <ion-label stacked>Username*</ion-label>
      <ion-input formControlName="username" type="text"></ion-input>
    </ion-item>
    <p class="danger" *ngIf="formGroup.controls.username.dirty && formGroup.controls.username.errors" margin-left>Valor inválido</p>
    
    <button ion-button block type="submit" [disabled]="formGroup.invalid">Criar conta</button>
  </form>
</ion-content>